.whatifs {
    margin-bottom: 1.5rem;
}
.whatifs .card {
    margin: 0 auto 1rem;
    max-width: 320px;
    overflow: hidden;
    border-color: transparent;
}
.whatifs .card-body {
    min-height: 280px;
    overflow: hidden;
}
.whatifs .card-footer .btn {
    display: block;
    position: relative;
}
.whatifs .card-footer .btn:not([class*=darkjs-]) .fas {
    display: none;
}