.darkjs {
    transition: background-color .3s linear, color .3s linear;
}
.darkjs-bg-1 {
    background: #000 !important;
}
.darkjs-bg-2 {
    background: #222 !important;
}
.darkjs-bg-3 {
    background: #333 !important;
}
.darkjs-bg-4 {
    background: #444 !important;
}
.darkjs-bg-5 {
    background: #555 !important;
}
.darkjs-bg-6 {
    background: #666 !important;
}
.darkjs-color {
    color: white !important;
}
.darkjs-color-1 {
    color: #fff !important;
}
.darkjs-color-2 {
    color: #eee !important;
}
.darkjs-color-3 {
    color: #ddd !important;
}
.darkjs-color-4 {
    color: #ccc !important;
}
.darkjs-color-5 {
    color: #bbb !important;
}
.darkjs-color-6 {
    color: #aaa !important;
}